.modal-header(ng-init="getContact()")
  h3.modal-title
    span Edit Contact
    span.pull-right
      span.glyphicon.glyphicon-remove(ng-click="$close()")
.modal-body

    form(name="contact_form" role="form")
      .form-group
        label Name
        div.inner-addon.left-addon
          i.glyphicon.glyphicon-user
          input.form-control(type="text" ng-model="selected.name" name="selected_name" required)

      .form-group
        label Number
        div.inner-addon.left-addon
          i.glyphicon.glyphicon-phone
          input.form-control(type="text" ng-model="selected.number" name="selected_number" ng-pattern="/^[0-9]{1,11}$/" required)

      span(ng-show='contact_form.selected_number.$error.pattern') Not a valid number!
      span(ng-show='contact_form.selected_number.$touched && contact_form.selected_number.$invalid') Number is required!
      span(ng-show='contact_form.selected_name.$touched && contact_form.selected_name.$invalid') Name is required!

.modal-footer
  button.btn.btn-primary(ng-click="editContact();$close()") Update
  button.btn.btn-link(ng-click="$dismiss()") Close