.modal-header
  h3.modal-title
    span View Contact
    span.pull-right
      span.glyphicon.glyphicon-remove(ng-click="$close()")
.modal-body(ng-init="getContact()")

    form(role="form")
      .form-group
        label Name
        div.inner-addon.left-addon
          i.glyphicon.glyphicon-user
          input.form-control(type="text" value="{{selected.name}}" readonly)

      .form-group
        label Number
        div.inner-addon.left-addon
          i.glyphicon.glyphicon-phone
          input.form-control(type="text" value="{{selected.number | mob}}" readonly)
