.container
	.row
		.col-md-3
		.col-md-6
			div.page-header
				table.table
					tr
						td
							h1 PhoneBook
						td
							h1
							button.btn.pull-right.glyphicon.glyphicon-plus(ui-sref="add-contact")
			div.table-responsive
				table.table.table-stripped.table-hover
					thead
						tr
							th.text-center(colspan=2)
								div.inner-addon.right-addon
									i.glyphicon.glyphicon-search
									input.form-control(type='text', placeholder='Search', ng-model="search")
					tbody
						tr(ng-repeat="contact in contacts | filter: search" ui-sref="view-contact" ng-click="setSelected($index)")
							td
								div
									button.btn.glyphicon.glyphicon-user
									| &nbsp
									| {{contact.name}}
							td
								div.hover-btn(ng-click="$event.stopPropagation()")
									button.btn.btn-link.pull-right.glyphicon.glyphicon-remove(ui-sref="remove-contact" ng-click="setSelected($index)")
									button.btn.btn-link.pull-right.glyphicon.glyphicon-edit(ui-sref="edit-contact" ng-click="setSelected($index)")
		.col-md-3