.modal-header(ng-init="getContact()")
  h3.modal-title
    span Delete Confirmation
    span.pull-right
      span.glyphicon.glyphicon-remove(ng-click="$close()")
.modal-body

    p Are you sure you want to remove {{selected.name}} from your contacts?

.modal-footer
  button.btn.btn-primary(ng-click="removeContact();$close()") Yes
  button.btn.btn-link(ng-click="$dismiss()") No