html(lang="en" ng-app="phonebook")
  head
    base(href='/')
    title !{title}
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/app.min.css')
  script(src="/lib/jquery/dist/jquery.min.js")
  script(src='/lib/angular/angular.min.js')
  script(src='/lib/angular-cookies/angular-cookies.min.js')
  script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
  script(src='/scripts/app.min.js')
  script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
  script(type="text/javascript", src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js")
  script.
    window.contacts= !{JSON.stringify(contacts)};
  body
    div(ui-view='')
