.inner-addon 
  position relative

.inner-addon .glyphicon
  	position absolute
  	padding 10px
  	pointer-events none

.left-addon .glyphicon
  	left 0px

.right-addon .glyphicon
  	right 0px

.left-addon input
  	padding-left 30px
.right-addon input
  	padding-right 30px

.table-stripped
	th
		background-color gray

	tr
		cursor pointer
		cursor hand	

	tr:hover .hover-btn
		display block
		cursor pointer
		cursor hand

.hover-btn
    display none